
nav {
    display: flex;
    flex-direction: row;
    background: gray;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover, .active {
    background: lightgray;
}

h2 {
    padding: 0.2em;
    border-bottom: 1px solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 2em;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    margin-top: 1em;
}

.movieContainer {
    width: 20em;
    padding: 1em;
    border-radius: 6px;
    box-shadow: rgba(44, 44, 49, 0.2) 0px 7px 29px 0px;
    background: lightgray;
}

.movieDetails {
    width: min(51em,90vw);
    padding: 1em;
}

.detailsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 2em;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.loader {
    animation: loading 1s linear infinite;
    font-size: 3rem;
    position: absolute;
    left: 37%;
    top: 20%;
  }

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#contactForm {
    display: flex;
    flex-direction: column;
    width: 20em;
    gap: 1em;
    margin-top: 1em;
  }
   .submitButton {
        width: fit-content;
        padding: 0.3em 0.6em;
    }

.formError {
    color:red;
    display: none;
}

.formSuccess {
display: none;
color:green;

}
  